* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Geometric;
}

@font-face {
    font-family: Geometric;
    src: url(../font/geometric/URWGeometricRegular.otf) format("truetype");
}

header {
    background-image: url(../images/design1_image1.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    text-align: center;
    color: #f8e12e;
    font-size: xx-large;
    text-overflow: ellipsis;
}

header>h1 {
    background-color: black;
    opacity: 0.8;
    color: #f8e12e;
    position: relative;
    top: 43%;
}

#title {
    width: 100%;
    background-color: black;
    color: #f8e12e;
    opacity: 0.8;
    text-align: center;
    margin: 4px;
    font-size: 1em;
    position: relative;
    top: 55%;
    border: 2px solid black;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    position: sticky;
    top: 20px;
    border-bottom: 3px solid #f8e12e;
    border-top: 3px solid #f8e12e;
}

nav>a {   
    width: 20%;
    height: auto;
    background-color: black;
    opacity: 0.8;
    color: white;
    font-size: xx-large;
    border: 5px solid black;
    padding: 10px 20px;
    margin: 2px;
    text-decoration: none;
    border-radius: 15px;
    text-align: center;

}

nav>a:hover {
    color: #c64832;
    background-color: #f8e12e;
    border: 5px solid #c64832;
    box-shadow: 2px 2px 5px black;
    transition-duration: 0.3s;
}

main>div{
    display: flex;  
    flex-direction: column;
    align-items: center;
}
section,
.section {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin: 20px;
    margin-top: 50px;   
    font-size: x-large; 
    text-align: justify;   
      
}
section>div, .section>div{       
    height: auto;
    width: 30%;
    padding: 30px;
    border-radius: 20px;  
    border: 3px solid #f8e12e;    
    box-shadow: 2px 2px 5px rgb(146, 145, 145); 
    
}
section>div>h3{  
    color: black;
    display: flex;
    flex-direction: column;      
    text-decoration:underline;
    text-transform: uppercase;    
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    border-radius: 20px;
}
.texto{
    padding: 10px;
}
figure {    
    height: 600px;
    width: 50%;
}

figure>img {
    max-width: 100%;
    height: auto;
    padding: 5%;
}

.logo {
    height: 150px;
    width: 150px;
    display: inline;
    background-color: black;
    position: relative;
    left: 2%;
    bottom: 33%;
    opacity: 0.8;
    border-radius: 50%;
    padding: 5px;
}

main {
    background-image: url(../images/pattern\ 2.jpg);
    
}
.reglas{
    font-size: 2em;
    margin-top: 20px;
}
table{
    width: 80%;
    border: 3px solid #f8e12e;
}
caption{
    font-size: 1.5em;
    border: 3px solid #f8e12e;
    border-bottom: 3px solid white;
}
table, th, td {    
    border-collapse: collapse; 
    padding: 20px;
    text-align: center;   
  }

th{
    font-size: 1.5em;
    width: 25%; 
    font-weight: bold;  

}

.final{
    height: auto;
    width: 60%;
    padding: 30px;
    border-radius: 20px;        
    box-shadow: 2px 2px 5px grey; font-size: 1.5em; 
    
    text-align: left;
     
}
.final>h2{       
    font-weight: bold; 
    margin: 12px; 
}

.lista>ol>li{
    list-style-type: lower-latin;
}
